[submodule "cpp/contrib/libhubbub"]
	path = cpp/contrib/netsurf/libhubbub
	url = git@github.com:adamwight/wmf-parsoid-libhubbub.git
[submodule "cpp/contrib/folly"]
	path = cpp/contrib/folly
	url = git://github.com/facebook/folly.git
[submodule "cpp/contrib/double-conversion"]
	path = cpp/contrib/double-conversion
	url = https://code.google.com/p/double-conversion/
[submodule "cpp/contrib/libhubbub"]
	path = cpp/contrib/libhubbub
	url = git@github.com:adamwight/wmf-parsoid-libhubbub.git
